<html ng-app="salesApp">
<head>
	<title>Sales App</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

	<script src="javascripts/index.js"></script>
	<link href="style.css" rel="stylesheet">
</head>
<body ng-controller="salesController">
	<script type="text/ng-template" id="popoverTemplate.html">
		<div>{{dynamicPopover.content}}</div>
		<div class="btn-group" ng-click="$event.stopPropagation()">
			<label class="btn btn-primary" ng-model="p.magazine" uib-btn-checkbox>Ziar</label>
			<label class="btn btn-primary" ng-model="p.book" uib-btn-checkbox>Carte</label>
			<label class="btn btn-primary" ng-model="p.cd" uib-btn-checkbox>CD</label>
		</div>
	</script>

	<script type="text/ng-template" id="modalTemplate.html">
		<div class="modal-header">
			<h3 class="modal-title">Finalizare ordin</h3>
		</div>
		<div class="modal-body">
			<table class="table">
				<tr ng-repeat="p in items" ng-click="p.selected=!p.selected; p.magazine = true" ng-class="p.selected?'selected success':''">
					<td style="width: 50%">
						{{p.name}}
						<div style="margin-top: 5px; float: right" ng-show="p.selected">
							<img ng-show="p.selected && p.magazine" style="width: 18px; opacity: 0.5" src="images/ziar.png">
							<img ng-show="p.selected && p.book" style="width: 16px; opacity: 0.5" src="images/book.png">
							<img ng-show="p.selected && p.cd" style="width: 18px; opacity: 0.5" src="images/CD.png">
						</div>
					</td>
				</tr>
			</table>
			<h3>Total: {{price}} lei</h3>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
			<button class="btn btn-warning" type="button" ng-click="cancel()">Inapoi</button>
		</div>
	</script>

	<div style="margin-bottom: -22px">
		<table class="table">
			<thead>
				<th class="info" style="width: 50%" ng-click="sortBy('name')"><a href="">Nume</a><span style="margin-left: 5px" ng-class="sortStyle('name')"></span></th>
				<th class="info" style="width: 50%" ng-click="sortBy('genre')"><a href="">Categorie</a><span style="margin-left: 5px"  ng-class="sortStyle('genre')"></span></th>
			</thead>
		</table>
	</div>

	<div ng-show="shownPublications.length > 0" style="height: 85vh; overflow: auto">
		<table class="table">
			<tr ng-repeat="p in shownPublications" ng-click="p.selected=!p.selected; p.magazine = true" ng-class="p.selected?'selected success':''">
				<td style="width: 50%">
					{{p.name}}
					<div style="margin-top: 5px" ng-show="p.selected">
						<img ng-show="p.selected && p.magazine" style="width: 18px; opacity: 0.5" src="images/ziar.png">
						<img ng-show="p.selected && p.book" style="width: 16px; opacity: 0.5" src="images/book.png">
						<img ng-show="p.selected && p.cd" style="width: 18px; opacity: 0.5" src="images/CD.png">
					</div>
				</td>
				<td style="width: 50%; color: #9B9B9B">
					<div style="float: left; width: 90%">
						<div>
							{{p.genre}}
						</div>
						<div style="margin-top: 10px" ng-show="p.selected">
							<button ng-show="p.selected" ng-click="openedPopover =! openedPopover; $event.stopPropagation()" popover-placement="bottom" uib-popover-template="dynamicPopover.templateUrl" popover-title="Selectare add-on" type="button" class="btn btn-default btn-sm">
								<span class="glyphicon" ng-class="openedPopover ? 'glyphicon-ok' : 'glyphicon-option-horizontal' ">
								</span>
							</button>
						</div>
					</div>
					<div ng-click="open(); $event.stopPropagation()" ng-show="p.selected"
					style="float: right; width: 10%; height: 70px; position: relative">
					<div style="position: absolute; bottom: 0; right: 0">
						<span style="font-size: 30px; color: green" class="glyphicon glyphicon-chevron-right"></span></div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div ng-show="shownPublications == 0" style="width: 100%; height: 65vh; text-align: center">
		<div style="font-weight: bold; color: red; margin-top: 20vh">0 rezultate gasite pentru "{{searchText}}"</div>
	</div>
	<div class="form-group form-group-lg has-info has-feedback" style="margin-bottom: 0px">
		<div style="float: left; width: 100%">
			<input type="text" class="form-control" placeholder="Cautare" ng-model="searchText" ng-change="filter(searchText)">
			<i class="glyphicon glyphicon-search form-control-feedback"></i>
		</div>
	</div>
</body>
</html>
