<html ng-app="salesApp">
<head>
	<title>Sales App</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
	<meta name="mobile-web-app-capable" content="yes">

	<link href="styles/bootstrap.min.css" rel="stylesheet" >
	<link href="styles/style.css" rel="stylesheet" >

	<script src="javascripts/angular.min.js"></script>
	<script src="javascripts/angular-animate.min.js"></script>
	<script src="javascripts/ui-bootstrap-tpls-0.14.3.min.js"></script>

	<script src="javascripts/index.js"></script>
</head>
<body ng-controller="salesController">
	<div id="header">
		<table class="table">
			<thead>
				<th class="info halfWidth" ng-click="sortByName()">
					<a href="">Nume</a>
					<span id="sortButton1" ng-class="sortStyle('name')"></span>
				</th>
				<th class="info halfWidth">
				<a href="" popover-placement="bottom" uib-popover-template="selectCategoryTemplate"
					popover-title="Selectare categorie" popover-is-open="openedCategoryPopover">Categorie</a>
				</th>
			</thead>
		</table>
	</div>

	<div id="body" ng-show="shownPublications.length > 0">
		<table class="table">
			<tr ng-repeat="p in shownPublications" ng-click="p.selected=!p.selected; p.magazine = true"
			ng-class="p.selected?'selected success':''">
			<td class="halfWidth">
				<span id="magazineName">{{p.name}}</span>
				<div id="addonsContainer" ng-show="p.selected">
					<img id="imgMagazine" ng-show="p.magazine" src="images/ziar.png">
					<img id="imgBook" ng-show="p.book" src="images/book.png">
					<img id="imgCd" ng-show="p.cd" src="images/CD.png">
					<span class="text-success">{{getItemTotal(p)}} lei</span>
				</div>
			</td>
			<td class="text-muted">
				<div id="leftChildRightTd">
					<div>
						<span id="genreName">{{p.genre}}</span>
					</div>
					<div id="rightChildRightTd" ng-show="p.selected">
						<button ng-show="p.selected" ng-click="openedPopover =! openedPopover; $event.stopPropagation()"
						popover-placement="bottom" uib-popover-template="addOnTemplate"
						popover-title="Selectare add-on" type="button" class="btn btn-default btn-sm">
						<span class="glyphicon" ng-class="openedPopover ? 'glyphicon-ok' : 'glyphicon-option-horizontal' ">
						</span>
					</button>
				</div>
			</div>
			<div ng-click="open(); $event.stopPropagation()" ng-show="p.selected"
			id="openModalParent">
			<div id="openModalChild">
				<span id="finalizeOrder" class="text-success glyphicon glyphicon-chevron-right"></span></div>
			</div>
		</td>
	</tr>
</table>
</div>

<div id="noResultsWarningContainer" ng-show="shownPublications == 0">
	<div id="noResultsWarning">0 rezultate gasite pentru "{{searchText}}"</div>
</div>

<div id="footer">
	<div class="form-group form-group-lg has-info has-feedback">
		<input type="text" class="form-control" style="font-size: 24px" placeholder="Cautare" ng-model="searchText" ng-change="filter(searchText)">
		<i class="glyphicon glyphicon-search form-control-feedback"></i>
	</div>
</div>
</body>
</html>
