<div class="modal-header">
	<h3 class="modal-title">Finalizare ordin</h3>
</div>
<div class="modal-body">
	<table class="table">
		<tr ng-repeat="p in items" ng-class="p.selected?'selected success':''">
			<td style="width: 50%">
				{{p.name}}
				<div style="margin-top: 5px; float: right" ng-show="p.selected">
					<img ng-show="p.selected && p.magazine" style="width: 18px; opacity: 0.5" src="images/ziar.png">
					<img ng-show="p.selected && p.book" style="width: 16px; opacity: 0.5" src="images/book.png">
					<img ng-show="p.selected && p.cd" style="width: 18px; opacity: 0.5" src="images/CD.png">
				</div>
			</td>
		</tr>
	</table>
	<h3>Total: {{price}} lei</h3>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Inapoi</button>
</div>
