#finalizeOrder {
    font-size: 30px;
}

#noResultsWarningContainer {
    width: 100%;
    height: 65vh;
    text-align: center;
}

#noResultsWarning {
    font-weight: bold;
    color: red;
    margin-top: 20vh;
}

#sortButton1, #sortButton2 {
    margin-left: 5px;
}

#magazineName {
    font-size: 20px;
}

#genreName {
    font-size: 18px;
}

#imgMagazine {
    width: 18px;
    opacity: 0.5;
}

#imgBook {
    width: 16px;
    opacity: 0.5;
}

#imgCd {
    width: 18px;
    opacity: 0.5;
}

#addonsContainer {
    margin-top: 5px;
}

#openModalParent {
    float: right; 
    width: 10%;
    height: 70px;
    position: relative;
}

#openModalChild {
    position: absolute;
    bottom: 0;
    right: 0;
}

#leftChildRightTd {
    float: left;
    width: 90%;
}

#rightChildRightTd {
    margin-top: 10px
}

.halfWidth, #nameTd, #descTd {
    width: 50%;
    font-size: 20px;
}

.halfOpacity {
    opacity: 0.5;
}

.selected {
	font-weight: bold;
}

.btn {
    padding: 10px 20px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #5CB85C;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #5CB85C;
}

.btn-primary:active, .btn-primary.active {
    background: #3C763D;
    box-shadow: none;
}

.btn-primary:active:hover, .btn-primary.active:hover {
    background: #3C763D;
    box-shadow: none;
}

#body {
    margin-top: 45px;
    height: 88vh;
    overflow: auto;
}

#header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

#footer {
    margin-bottom: -15px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
}